<div class="content">
    <button ng-click="order = 'name'">Order by Name</button>
    <button ng-click="order = 'fee'">Order by Fee</button>
    <input type="text" ng-model="search">

    <div>
        <ul>
            <li ng-repeat="people in peoples | orderBy: order | filter: search" ng-show="people.available">
                <img ng-src="{{people.dp}}" alt="" style="margin: -12px 10px 0 0; float:left;width: 50px;" ng-show="people.dp">
                <img ng-src="content/img/default.png" alt="" style="margin: -12px 10px 0 0; float:left;width: 50px;"
                    ng-show="!people.dp">
                <h2>{{people.name}}: {{people.fee|currency:"₹"}}</h2>
                <div class="remove" ng-click="remove(people)">X</div>
                <span>age: {{people.age}}</span>
            </li>
        </ul>
    </div>

    <div>
        <form ng-submit="add()">
            <input type="text" ng-model="new.name" placeholder="name" required>
            <input type="number" ng-model="new.age" placeholder="age" required>
            <input type="number" ng-model="new.fee" placeholder="fee" required>
            <input type="submit" value="Add new">
        </form>
    </div>
</div>